ion-content{
    hr{
        background: var(--ion-color-medium);
    }

    ion-card{
        ion-card-header{
            text-align: center;
        }

        .lb{
            float: right;
            padding-right: 8px;
        }
    }

    ion-row {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
}